body { padding-top: 70px; }
h1 a:hover {
	text-decoration: none;
}
.categories .label {
	margin-left: 4px;
	font-size: 70%;
}
.categories .glyphicon.glyphicon-tags {
	margin-right: 6px;
}
.search-row {
	margin-bottom: 20px;
}
.panel-heading .pagination {
	margin: 3px 0px 0px 0px;
}
.ask-question-form .checkbox-inline {
	margin-left: 0px !important;
	margin-right: 10px;
}
<<<<<<< HEAD

*{outline:none!important}

#questionPage{padding:0 0 50px}
#questionPage hr{clear:both}

#questionPage .like,
#questionPage .dislike{cursor:pointer;display:block;margin:0 auto;width:41px;height:25px;background:url(../images/sprites.png) no-repeat}
#questionPage .like{background-position:0 -265px}
#questionPage .dislike{background-position:0 -300px}
#questionPage .point{font-size:18px;color:green;text-align:center;font-weight:bold}
#questionPage .point.danger{color:red}
#questionPage .author  *{vertical-align:middle}
#questionPage .author strong{color:#4a6b82;font-size:11px;line-height:20px;margin:0 0 0 3px}
#questionPage .author span{color:#444;font-size:11px;line-height:20px}
#questionPage .date{text-align:right;color:#999;font-size:11px;line-height:20px}
#questionPage .answer-content{font-size:12px;padding-bottom:20px;min-height:55px}
#questionPage .disabled .like,
#questionPage .disabled .dislike{opacity:0.3}

#commentArea{padding:20px 0}

.featured-question-carousel {
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
	height: 360px;
}
