body { padding-top: 70px; }
h1 a:hover {
	text-decoration: none;
}
.categories .label {
	margin-left: 4px;
	font-size: 70%;
}
.categories .glyphicon.glyphicon-tags {
	margin-right: 6px;
}
.search-row {
	margin-bottom: 20px;
}
.panel-heading .pagination {
	margin: 3px 0px 0px 0px;
}
.ask-question-form .checkbox-inline {
	margin-left: 0px !important;
	margin-right: 10px;
}



*{outline:none!important}

#questionPage{padding:0 0 50px}
#questionPage hr{clear:both}

#questionPage .author{padding-left:0;clear:both;padding-bottom:10px}
#questionPage .author strong{color:#4a6b82}
#questionPage .author span{color:#444;margin-left:5px}
#questionPage .date{text-align:right;color:#999;padding-right:0;padding-bottom:10px}
#questionPage .answerContent{overflow:hidden}
#questionPage .pointArea{float:right;text-align:center;padding:0 0 10px 10px}
#questionPage .pointArea *{vertical-align:middle}
#questionPage .pointArea .point{font-size:18px;color:green}
#questionPage .pointArea .point.danger{color:red}

#commentArea .comment{width:100%;height:100px;padding:10px;border-radius:10px;outline:0}
#commentArea .buttons{text-align:right}

#questionPage .like,
#questionPage .dislike{cursor:pointer;display:block;margin:0 auto;width:41px;height:25px;background:url(../images/sprites.png) no-repeat}
#questionPage .like{background-position:0 -265px}
#questionPage .dislike{background-position:0 -300px}
#questionPage .point{font-size:18px;color:green;text-align:center;font-weight:bold}
#questionPage .point.danger{color:red}
#questionPage .author  *{vertical-align:middle}
#questionPage .author strong{color:#4a6b82;font-size:11px;line-height:20px;margin:0 0 0 3px}
#questionPage .author span{color:#777;font-size:11px;line-height:20px}
#questionPage .date{text-align:right;color:#999;font-size:11px;line-height:20px}
#questionPage .detail{font-size:14px;line-height:20px;min-height:60px}
#questionPage .answer-content{font-size:12px;padding-bottom:20px;min-height:55px}
#questionPage .disabled .like,
#questionPage .disabled .dislike{opacity:0.3;cursor:default}
#questionPage .tags{padding:0 0 20px}
#questionPage .tags * + *{margin-left:5px}

.question-list .name{color:green;margin-left:5px;vertical-align:middle}
.question-list .author  *{vertical-align:middle}
.question-list .author strong{color:#4a6b82;font-size:11px;line-height:20px;margin:0 0 0 3px}
.question-list .author span{color:#777;font-size:11px;line-height:20px}
.question-list .date{text-align:right;color:#999;font-size:11px;line-height:20px}
.question-list .desc{font-size:12px;padding-bottom:20px;min-height:55px}
.question-list .categories{padding:15px 0 5px}
.question-list .tags{overflow:hidden}


#commentArea{padding:20px 0 0}

.featured-question-carousel {
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
	height: 360px;
}

.category-container {
	position: fixed;
	top: 91px;
	left: 50%;
	margin-left: -599px;
}
.category-container .category-list-sidebar {
	width: 195px;
	
}
.carousel-inner,
.carousel-inner > .item,
.container .jumbotron {
	height: 100%;
} 
.container .jumbotron {
	padding-left: 70px;
	padding-right: 70px;
}
.carousel-indicators li{
	border: 1px solid #428BCA
}
.carousel-indicators .active {
	background-color: #428BCA
}