<div class="panel panel-primary">
	<div class="panel-heading">
	    <h3 class="panel-title"><a href="#">Recent</a><a href="#">Popular</a></h3>
	 </div>
	<div class="panel-body">
		
	</div>
	<ul class="list-group">
	  <li class="list-group-item">
	   	<blockquote><a href="">Cras justo odio</a></blockquote>
	   	<span class="glyphicon glyphicon-user"> ABC</span>
	   	<span class="glyphicon glyphicon-calendar pull-right"> 20-04-2014</span><br />
	   	<span class="label label-success">12 answers</span>
	  </li>
	  <li class="list-group-item">
	    
	   	<blockquote><a href="">Cras justo odio</a></blockquote>
	   	<span class="glyphicon glyphicon-user"> ABC</span>
	   	<span class="glyphicon glyphicon-calendar pull-right"> 20-04-2014</span><br />
	   	<span class="label label-success">12 answers</span>
	  </li>
	  <li class="list-group-item">
	    
	   	<blockquote><a href="">Cras justo odio</a></blockquote>
	   	<span class="glyphicon glyphicon-user"> ABC</span>
	   	<span class="glyphicon glyphicon-calendar pull-right"> 20-04-2014</span><br />
	   	<span class="label label-success">12 answers</span>
	  </li>
	  <li class="list-group-item">
	    
	   	<blockquote><a href="">Cras justo odio</a></blockquote>
	   	<span class="glyphicon glyphicon-user"> ABC</span>
	   	<span class="glyphicon glyphicon-calendar pull-right"> 20-04-2014</span><br />
	   	<span class="label label-success">12 answers</span>
	  </li>
	  <li class="list-group-item">
	    
	   	<blockquote><a href="">Cras justo odio</a></blockquote>
	   	<span class="glyphicon glyphicon-user"> ABC</span>
	   	<span class="glyphicon glyphicon-calendar pull-right"> 20-04-2014</span><br />
	   	<span class="label label-success">12 answers</span>
	  </li>
	</ul>
  <div class="panel-footer">Panel footer</div>
</div>
