<div id="questionPage">

	<a href="#/">Back to list</a>

	<div id="questionDetail">
		<h1>{{ question.title }}</h1>
		
		<div class="detail">{{ question.description }}</div>
		
		<br />
		<div class="author col-xs-12 col-md-8"><strong>{{ questionOwner.name }}</strong><span>{{ questionOwner.point }}</span></div>
		<div class="date col-xs-6 col-md-4">{{ question.date }}</div>
		<br />
		<br />
	</div><!--/questionDetail-->

	<fieldset id="commentArea" ng-controller="AddAnswerController">
		<div class="form-group">
			<label>Your Answer</label>
			<textarea class="form-control" rows="3" ng-model="newAnswerContent"></textarea>
		</div>
		<div class="form-group">
			<button ng-click="addAnswer()" class="btn btn-primary">Send Answer</button>
			<button ng-click="resetAnswer()" class="btn btn-primary">Reset</button>
		</div>
	</fieldset><!--/commentArea-->

	<br />

	<div id="answersArea" class="media-list">
		<div class="answer clearfix media" ng-controller="AnswerItemController" ng-repeat="answer in answersForThis | orderBy:'point':true" data-id="{{ answer.id }}" >
			
			<div class="pull-left">
				<div ng-click="like()" class="like"></div>
				<div class="point" ng-class="{danger: answer.point < 0}">{{ answer.point }}</div>
				<div ng-click="dislike()" class="dislike"></div>
			</div>
			
			<div class="media-body">
				<div class="answer-content">{{ answer.content }}</div>
				<div class="date pull-right">answered {{ answer.date }}</div>
				<div class="author pull-left"><strong>{{ answerUser.name }}</strong> <span>{{ answerUser.point }}</span></div>
			</div>
			
			<hr />
		</div>
	</div><!--/answersArea-->

</div>